<% layout("/layouts/boilerplates") %>


    <div class="row mt-3">
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
           
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control"
                    required
                    >
                    <div class="valid-feedback">
                        Titile Looks Goods
                      </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter Description" id="" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please enter the short description.
                      </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file"  name="listing[image]" class="form-control" required >
                </div>
                
            <div class="row">
                <div class="mb-3 col-12 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" min="450"  name="listing[price]" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">
                    Price must be at least ₹450
                      </div>
                </div>
                    
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text"  name="listing[country]" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">
                        Country name should be valid
                      </div>
                </div>
            </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text"  name="listing[location]" placeholder="Greater Noida, UP" class="form-control"  required>
                    <div class="invalid-feedback">
                        Location name should be valid
                      </div>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" id="category" class="form-control" required>
                        <option value="">Select a category</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castle">Castle</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctice">Arctice</option>
                        <option value="Domes">Domes</option>
                        <option value="Beach">Beach</option>
                        <option value="Cabins">Cabins</option>
                        <option value="Houses">Houses</option>
                        <option value="Hotel">Hotel</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a category
                    </div>
                </div>
                
                <button class="btn btn-dark add-btn my-3">ADD</button>

                
            </form>
        </div>
            
    </div>
